

.pokemons{
    display: grid;
    grid-template-columns: 1fr ;
    list-style: none;
    padding: 0;
    margin: 0;
}
.normal {
    background-color: #A8A77A;
}
.fire {
    background-color: #EE8130;
}
.water {
    background-color: #6390F0;
}

.grass {
    background-color: #7AC74C;
}

.electric {
    background-color: #F7D000;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF5;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A8B820;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6F35FC;
}
.fairy {
    background-color: #D685AD;
}




.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding:  1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
}
.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img{
    max-width: 100%;
    height: 100px;
}

.pokemon.detail .types{
    display: flex;
    flex-direction: row;
}

.pokemon .detail .types .type{
    border-radius: 1rem;
    color: #fff;
    font-size: .75rem;
    padding: .25rem .5rem;
    margin-right: .5rem;
    text-transform: capitalize;
    filter: brightness(1.1);
    text-align: center;
}
.pagination {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .650rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px){
    .pokemons {
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
