html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    width: 15%;
    background-color: rgba(20, 146, 47, 0.459);
    padding: 10px 20px 0px;

}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}
